*.pyc

# venv is in root => Backend => venv so let's remove it :
Backend/venv

# ignore __pycache__ folder
Backend/__pycache__



# ignore build that is in root directly
build
node_modules
#ignore IDE history files
.idea
.vscode
.history

# service accounts
infomineo-b952e1ca199d.json
infomineo-16c417070c35.json

*.tgz
helm_charts/values.yaml